<div class="container px-5 mt-5">
  <h1 class="text-center">About</h1>
  <div class="row mx-auto mt-5">
    <div class="col">
      <p class="text-center">
       サバイバルゲームについての場所のルール</br>
        共有</br>
       どういった戦いをやったのか</br>
      </p>
    </div>
  </div>
</div>