<div class='container px-5 px-sm-0'>
  <%= render 'layouts/errors', obj: @book %>
  <div class='row'>
    <div class='col-md-3'>

    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <%= link_to "新しい順", fields_path(sort: 'created_at DESC') %> | <%= link_to "評価の高い順", fields_path(sort: 'rate DESC') %>
      <%= render 'index', fields: @fields%>
    </div>
  </div>
</div>