<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
     <header>サブメニュー</header>
      <ul>
        <li>
          <%= link_to new_field_path, class: 'nav-link text-dark' do %>
            <i class="fas fa-plus"></i> 新規投稿
          <% end %>
        </li>
        <li>
          <%= link_to new_group_path, class: 'nav-link text-dark' do %>
            <i class="fas fa-plus"></i> 新規グループ
          <% end %>
        </li>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Groups</h2>
      <%= render 'publics/groups/index', groups: @groups %>
    </div>
  </div>
</div>