<sidebar>
  <div class='container mt-5'>
  	<div class='row'>
    	<div class="sidebar">
    	   <%= link_to "グループを作成する", new_group_path %> |
         <%= link_to "グループ一覧", groups_path %>
    	</div>
    </div>
  </div>
</sidebar>
