<sidebar>
  <div class='container mt-5'>
  	<div class='row'>
    	<div class="sidebar">
    	 <ul>
    	   <li>
    	     <%= link_to new_field_path, class: 'nav-link text-light' do %>
          <i class="fas fa-plus"></i> 新規投稿
           <% end %>
    	   </li>
        <li>
    	   <%= link_to "グループを作成する", new_group_path %> |
    	   </li>
    	   <li>
         <%= link_to "グループ一覧", groups_path %>
         </li>
      </ul>
    	</div>
    </div>
  </div>
</sidebar>
